<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= siteTitle %></title>
        <meta name="description" content="<%= siteDescription %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place this data between the <head> tags of your website -->
        <title><%= siteTitle %></title>
        <meta name="description" content="<%= siteDescription %>" />

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@reubeningber">
        <meta name="twitter:creator" content="@reubeningber">
        <meta name="twitter:title" content="<%= siteTitle %>">
        <meta name="twitter:description" content="<%= siteDescription %>">
        <meta name="twitter:image:src" content="<%= shareImg %>">

        <!-- Open Graph data -->
        <meta property="og:title" content="<%= siteTitle %>" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="<%= siteUrl %>" />
        <meta property="og:image" content="<%= shareImg %>" />
        <meta property="og:description" content="<%= siteDescription %>" /> 
        <meta property="og:site_name" content="<%= siteTitle %>" />

        <!-- Favicon  -->

        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
         <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="assets/css/main.css">

    </head>
    <body>
        <%- partial("_partials/header") %>
		<%- yield %>
        <%- partial("_partials/footer") %>
        <%- partial("_partials/scripts") %>
    </body>
</html>
